langchain_openai
streamlit
langchain_core
openai
langchain
langchain-community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
beautifulsoup4
langchain_groq
groq
cassio
sentence-transformers